{% extends "admincustom/base.html" %}

{% block content %}
    <div class="container mb-5">
    <div class="navigation-header">
        <a href="{% url 'gestion_admin' %}" class="back-link">
            <i class="fas fa-arrow-left"></i> Retour à l'accueil Administrateur
        </a>
    </div>
    </div>
  <div class="container mt-4">
    <h2>Modifier un livre</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
      <a href="{% url 'livres_admin' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
{% endblock %}
